default-lease-time 600000;
max-lease-time 720000;
authoritative;
next-server {{ srv_ip }};
option space pxelinux;
option pxelinux.magic code 208 = string;
option pxelinux.configfile code 209 = text;
option pxelinux.pathprefix code 210 = text;
option pxelinux.reboottime code 211 = unsigned integer 32;
option architecture-type code 93 = unsigned integer 16;

subnet {{ dhcp.subnet }} netmask {{ dhcp.netmask }} {
    range dynamic-bootp {{ dhcp.poolstart }} {{ dhcp.poolend }};
    option broadcast-address {{ dhcp.broadcast }};
    option routers {{ dhcp.gateway }};
    option domain-name     "{{ baseName }}.{{ baseDomain }}";
    option domain-name-servers     {{ srv_ip }};

    class "UEFI-64-1" {
    match if substring(option vendor-class-identifier, 0, 20) = "PXEClient:Arch:00007";
     filename "uefi/BOOTX64.EFI";
    }

    class "UEFI-64-2" {
    match if substring(option vendor-class-identifier, 0, 20) = "PXEClient:Arch:00008";
    filename "uefi/BOOTX64.EFI";
    }

    class "UEFI-64-3" {
    match if substring(option vendor-class-identifier, 0, 20) = "PXEClient:Arch:00009";
     filename "uefi/BOOTX64.EFI";
    }

    class "Legacy" {
    match if substring(option vendor-class-identifier, 0, 20) = "PXEClient:Arch:00000";
    filename "pxelinux/pxelinux.0";
    }
}

{% for b in nodes.bootstrap %}
host {{ b.name }}.{{ baseName }}.{{ baseDomain }} {
	option host-name "{{ b.name }}.{{ baseName }}.{{ baseDomain }}";
	hardware ethernet {{ b.macaddr }}; 
	fixed-address {{ b.ipaddr }};
}
{% endfor %}

{% for m in nodes.masters %}
host {{ m.name }}.{{ baseName }}.{{ baseDomain }} {
	option host-name "{{ m.name }}.{{ baseName }}.{{ baseDomain }}";
	hardware ethernet {{ m.macaddr }};
	fixed-address {{ m.ipaddr }};
}
{% endfor %}

{% for w in nodes.workers %}
host {{ w.name }}.{{ baseName }}.{{ baseDomain }} {
	option host-name "{{ w.name }}.{{ baseName }}.{{ baseDomain }}";
	hardware ethernet {{ w.macaddr }};
	fixed-address {{ w.ipaddr }};
}
{% endfor %}

{% for w in nodes.workers_bm %}
host {{ w.name }}.{{ baseName }}.{{ baseDomain }} {
	option host-name "{{ w.name }}.{{ baseName }}.{{ baseDomain }}";
	hardware ethernet {{ w.macaddr }};
	fixed-address {{ w.ipaddr }};
}
{% endfor %}

{% for l in nodes.lab %}
host {{ l.name }}.{{ baseName }}.{{ baseDomain }} {
	option host-name "{{ l.name }}.{{ baseName }}.{{ baseDomain }}";
	hardware ethernet {{ l.macaddr }};
	fixed-address {{ l.ipaddr }};
}
{% endfor %}
 
##################### HERE WE START THE 172.16.66.0/24 SUBNET ############################
subnet 172.16.66.0 netmask 255.255.255.0 {
    range dynamic-bootp 172.16.66.100 172.16.66.254;
    option domain-name     "auto.lajoie.org";
    option domain-name-servers     172.16.66.1;
    option broadcast-address 172.16.66.255;
}