$TTL 1W
@	IN	SOA	gw.auto.local.	root (
			{{ ansible_date_time.epoch }}	; serial
			3H		; refresh (3 hours)
			30M		; retry (30 minutes)
			2W		; expiry (2 weeks)
			1W )	; minimum (1 week)
@	IN	NS	gw.auto.local.
;
gw.auto.local IN A 172.16.66.1

{% for a in nodes.auto %}
{{ a.name }} IN A {{ a.ipaddr }}
{% endfor %}