options {
	directory 	"/var/named";
	dump-file 	"/var/named/data/cache_dump.db";
	statistics-file "/var/named/data/named_stats.txt";
	memstatistics-file "/var/named/data/named_mem_stats.txt";
	allow-query     { any; };
	recursion yes;
	/* Fowarders */
	forward only;
	forwarders { 8.8.8.8; };
	dnssec-enable yes;
	dnssec-validation yes;
	managed-keys-directory "/var/named/dynamic";
	pid-file "/run/named/named.pid";
	session-keyfile "/run/named/session.key";
};

logging {
        channel default_debug {
                file "data/named.run";
                severity dynamic;
        };
};

zone "." IN {
	type hint;
	file "named.ca";
};

zone "{{ baseName }}.{{ baseDomain }}" IN {
	type	master;
	file	"named.lab.local.forward";
	allow-update { none; };
    allow-query { any; };
};

zone "{{ srv_ip.split('.')[2] }}.{{ srv_ip.split('.')[1] }}.{{ srv_ip.split('.')[0] }}.in-addr.arpa" IN {
	type	master;
	file	"named.lab.local.reverse";
	allow-update { none; };
    allow-query { any; };
};

include "/etc/named.rfc1912.zones";
include "/etc/named.root.key";
include "/etc/named.adblock";