default menu.c32
timeout 60
label rhcos
menu label ^Install OpenShift {{ ocp_release }}
menu default
  kernel tftp://{{ srv_ip }}/kernel
  append initrd=tftp://{{ srv_ip }}/initramfs coreos.inst=yes coreos.inst.install_dev={{ item.disk }} coreos.live.rootfs_url=http://{{ srv_ip }}:8080/images/rootfs coreos.inst.ignition_url=http://{{ srv_ip }}:8080/ignition/{{ item.name }}.ign
label rhel
menu label Install system with {{ rhel_version }}
  kernel tftp://{{ srv_ip }}/{{ rhel_version }}/vmlinuz
  append initrd=tftp://{{ srv_ip }}/{{ rhel_version }}/initrd.img ip=dhcp inst.repo=http://{{ srv_ip }}:8080/{{ rhel_version }}  inst.ks=http://{{ srv_ip }}:8080/kickstarts/ks.cfg-01-{{ item.macaddr | hwaddr('eui48') | lower }}