set timeout=60
menuentry 'OpenShift {{ ocp_release }} RHCOS' {
  linuxefi kernel ip=dhcp rd.neednet=1 initrd=http://{{ srv_ip }}:8080/images/initramfs console=tty0 console=ttyS0 coreos.inst=yes coreos.live.rootfs_url=http://{{ srv_ip }}:8080/images/rootfs coreos.inst.ignition_url=http://{{ srv_ip }}:8080/ignition/worker.ign  
  initrdefi initramfs
}
menuentry '{{ rhel_version }} with CDN' {
  linuxefi {{ rhel_version }}/vmlinuz ip=dhcp inst.repo=http://{{ srv_ip }}:8080/{{ rhel_version }}  inst.ks=http://{{ srv_ip }}:8080/kickstarts/ks.cfg
  initrdefi {{ rhel_version }}/initrd.img
}